*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
  background-color: rgb(14, 14, 16);
  height: 300vh;
}

.wrapper {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

.hamburger {
  position: absolute;
  right: 1.5em;
  top: 1em;
  z-index: 10;
  position: fixed;
}

.nav-mobile {
  position: absolute;
  background-color: #28282a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-102%);
          transform: translateY(-102%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 100vh;
  z-index: 9;
  position: fixed;
}
.nav-mobile .nav-items-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 50vh;
}
.nav-mobile .nav-items-mobile a {
  color: white;
  text-decoration: none;
  padding: 20px;
  text-transform: uppercase;
}

.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav {
  display: none;
}

header h2 {
  color: white;
  text-transform: uppercase;
  font-size: 110px;
}

.register {
  margin: 40px 20px;
}
.register h4 {
  padding: 20px 15px;
  border: 1px solid white;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: rgba(255, 255, 255, 0.37);
}
.register h4 span {
  color: white;
}

.btn-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.btn-register button {
  margin-bottom: 40px;
  padding: 20px 40px;
  color: black;
  background-color: #f9cf10;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.info {
  height: 80px;
  background-color: #f9cf10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.info p {
  text-transform: uppercase;
  font-size: 0.8em;
  margin-left: 10px;
  font-weight: 700;
}
.info .fa-solid {
  display: none;
}

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}
.panel .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  text-transform: uppercase;
}
.panel .text h3 {
  margin: 10px 5px;
  font-size: 20px;
}
.panel .text p {
  font-size: 20px;
  margin: 10px 5px;
  border-bottom: 1px solid black;
  font-weight: lighter;
}
.panel .photo img {
  width: 20em;
}

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 2.5em;
  text-transform: uppercase;
  margin: 4rem 0;
}

.plans .left-panel .container-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 40em;
  width: 23, 5em;
  background-color: #28282a;
  color: white;
}
.plans .left-panel .container-text .fa-check {
  color: #f9cf10;
  margin-right: 10px;
}
.plans .left-panel button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.5em;
  width: 25em;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
.plans .right-panels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.plans .right-panels .first,
.plans .right-panels .second,
.plans .right-panels .thrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 10em;
  width: 21em;
  background-color: #28282a;
  margin-top: 2em;
}
.plans .right-panels .first .price,
.plans .right-panels .second .price,
.plans .right-panels .thrid .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2em;
  color: white;
}
.plans .right-panels .first .price .term,
.plans .right-panels .second .price .term,
.plans .right-panels .thrid .price .term {
  color: #666668;
}
.plans .right-panels .first .icon,
.plans .right-panels .second .icon,
.plans .right-panels .thrid .icon {
  font-size: 2em;
  color: white;
  padding: 15px;
  background-color: #313133;
  cursor: pointer;
}

.opinions {
  margin-top: 2em;
  background-color: #fff;
}
.opinions h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-transform: uppercase;
  padding: 0.5em;
}
.opinions .recomend {
  display: none;
  padding: 0.5em;
  font-size: 29px;
  font-weight: 100;
}
.opinions .carousel {
  display: none;
  margin-top: 2em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.opinions .carousel .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.3em;
}
.opinions .carousel .carousel-one {
  width: 20em;
  height: 25em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.opinions .carousel .carousel-one img {
  width: 130px;
  border-radius: 50%;
}
.opinions .carousel .carousel-one p {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.opinions .carousel .carousel-one .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.6em;
}
.opinions .carousel .carousel-one .photo .text {
  padding: 20px;
}
.opinions .carousel .carousel-one .photo .text .desp {
  font-weight: lighter;
}
.opinions .carousel .carousel-one:hover {
  background-color: #f9cf10;
}
.opinions .opinions-mobile img {
  width: 130px;
  border-radius: 50%;
}
.opinions .opinions-mobile p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  text-transform: uppercase;
}
.opinions .opinions-mobile .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.6em;
}
.opinions .opinions-mobile .photo .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}
.opinions .opinions-mobile .photo .text .desp {
  font-weight: lighter;
}

.wrapper .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 25vh;
}
.wrapper .footer .text {
  color: white;
}
.wrapper .footer .text span {
  color: #f9cf10;
}
.wrapper .footer .text p {
  display: none;
}
.wrapper .footer .text h2 {
  margin-left: 10px;
}
.wrapper .footer .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}
.wrapper .footer .list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  list-style: none;
}
.wrapper .footer .list ul li {
  padding: 5px;
  text-transform: uppercase;
}
.wrapper .copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.4em;
  color: white;
  border: 1px solid white;
  margin: 10px 10px;
}
.wrapper .copy span {
  color: #f9cf10;
}
.wrapper .copy .footer-year {
  padding: 0 8px;
  color: white;
}

@media (min-width: 576px) {
  .hamburger {
    display: none;
  }
  .nav-mobile {
    display: none;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
  }
  .nav .nav-items {
    width: 80vw;
    height: 70px;
    border: 0.1rem solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav .nav-items h2 {
    color: white;
    text-transform: uppercase;
  }
  .nav .nav-items h2 span {
    color: #f9cf10;
  }
  .nav .nav-items a {
    color: white;
    text-decoration: none;
    padding: 15px 10px;
  }
  .nav .nav-items button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    cursor: pointer;
  }
  .info h4 {
    font-size: 1em;
  }
  .info .fa-solid {
    display: block;
  }
  .panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .panel .photo img {
    width: 25em;
    margin: 1em;
  }
  .opinions {
    width: auto;
  }
  .opinions-mobile .photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 768px) {
  .panel {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .panel .text h3 {
    font-size: 30px;
  }
  .panel .text p {
    font-size: 25px;
  }
  .panel .photo img {
    padding: 10px;
    border: 1px solid black;
    width: 25em;
  }
  .plans {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .plans .left-panel {
    width: 40em;
  }
  .plans .right-panels {
    margin-left: 1em;
  }
  .plans .right-panels .first,
.plans .right-panels .thrid {
    margin-top: 0;
  }
  .plans .right-panels .second {
    margin: 5em 0;
  }
  .opinions h1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .opinions .opinions-mobile p {
    font-size: 24px;
  }
  .wrapper .footer .text p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase;
  }
  .wrapper .footer .text h2 {
    margin-left: 0;
  }
}
@media (min-width: 1400px) {
  .opinions .opinions-mobile {
    display: none;
  }
  .opinions .recomend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .opinions .carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}/*# sourceMappingURL=main.css.map */