*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
  background-color: rgb(14, 14, 16);
  height: 300vh;
}

.wrapper {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

.hamburger {
  position: absolute;
  right: 1.5em;
  top: 1em;
  z-index: 10;
  position: fixed;
}

.nav-mobile {
  position: absolute;
  background-color: #28282a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-102%);
          transform: translateY(-102%);
  -webkit-transition: 1s;
  transition: 1s;
  height: 100vh;
  z-index: 9;
  position: fixed;
}
.nav-mobile .nav-items-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 50vh;
}
.nav-mobile .nav-items-mobile a {
  color: white;
  text-decoration: none;
  padding: 20px;
  text-transform: uppercase;
}

.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav {
  display: none;
}

header h2 {
  color: white;
  text-transform: uppercase;
  font-size: 110px;
}

.register {
  margin: 40px 20px;
}
.register h4 {
  padding: 20px 15px;
  border: 1px solid white;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: rgba(255, 255, 255, 0.37);
}
.register h4 span {
  color: white;
}

.btn-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.btn-register button {
  margin-bottom: 40px;
  padding: 20px 40px;
  color: black;
  background-color: #f9cf10;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.info {
  height: 80px;
  background-color: #f9cf10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.info p {
  text-transform: uppercase;
  font-size: 0.8em;
  margin-left: 10px;
  font-weight: 700;
}
.info .fa-solid {
  display: none;
}

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}
.panel .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  text-transform: uppercase;
}
.panel .text h3 {
  margin: 10px 5px;
  font-size: 20px;
}
.panel .text p {
  font-size: 20px;
  margin: 10px 5px;
  border-bottom: 1px solid black;
  font-weight: lighter;
}
.panel .photo img {
  width: 20em;
}

@media (min-width: 576px) {
  .hamburger {
    display: none;
  }
  .nav-mobile {
    display: none;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
  }
  .nav .nav-items {
    width: 80vw;
    height: 70px;
    border: 0.1rem solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav .nav-items h2 {
    color: white;
    text-transform: uppercase;
  }
  .nav .nav-items h2 span {
    color: #f9cf10;
  }
  .nav .nav-items a {
    color: white;
    text-decoration: none;
    padding: 15px 10px;
  }
  .nav .nav-items button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    cursor: pointer;
  }
  .info h4 {
    font-size: 1em;
  }
  .info .fa-solid {
    display: block;
  }
  .panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .panel .photo img {
    width: 15em;
    margin: 1em;
  }
}
@media (min-width: 768px) {
  .panel {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}/*# sourceMappingURL=main.css.map */