*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: "Work Sans", sans-serif;
	font-size: 1.6rem;
	background-color: rgb(14, 14, 16);
	height: 300vh;
}
.wrapper {
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
}

.hamburger {
	position: absolute;
	right: 1.5em;
	top: 1em;
	z-index: 10;
	position: fixed;
}

.nav-mobile {
	position: absolute;
	background-color: #28282a;
	display: flex;
	justify-content: center;
	transform: translateY(-102%);
	transition: 1s;
	height: 100vh;
	z-index: 9;
	position: fixed;
	.nav-items-mobile {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width: 100vw;
		height: 50vh;
		a {
			color: white;
			text-decoration: none;
			padding: 20px;
			text-transform: uppercase;
		}
	}
}

.active {
	transform: translateY(0);
}

.nav {
	display: none;
}
header {
	h2 {
		color: white;
		text-transform: uppercase;
		font-size: 110px;
	}
}
.register {
	margin: 40px 20px;
	h4 {
		padding: 20px 15px;
		border: 1px solid white;
		font-size: 30px;
		text-transform: uppercase;
		letter-spacing: 4px;
		color: rgba(255, 255, 255, 0.37);
		span {
			color: white;
		}
	}
}
.btn-register {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	button {
		margin-bottom: 40px;
		padding: 20px 40px;
		color: black;
		background-color: #f9cf10;
		text-transform: uppercase;
		font-weight: 700;
		border: none;
		cursor: pointer;
	}
}
.info {
	height: 80px;
	background-color: #f9cf10;
	display: flex;
	align-items: center;
	justify-content: space-around;
	p {
		text-transform: uppercase;
		font-size: 0.8em;
		margin-left: 10px;
		font-weight: 700;
	}
	.fa-solid {
		display: none;
	}
}
.panel {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #fff;
	.text {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #000;
		text-transform: uppercase;
		h3 {
			margin: 10px 5px;
			font-size: 20px;
		}
		p {
			font-size: 20px;
			margin: 10px 5px;
			border-bottom: 1px solid black;
			font-weight: lighter;
		}
	}
	.photo {
		img {
			width: 20em;
		}
	}
}
.pricing {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 2.5em;
	text-transform: uppercase;
	margin: 4rem 0;
}
.plans {
	.left-panel {
		.container-text {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			height: 40em;
			width: 23, 5em;
			background-color: #28282a;
			color: white;
			.fa-check {
				color: #f9cf10;
				margin-right: 10px;
			}
		}
		button {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 2.5em;
			width: 25em;
			background-color: transparent;
			border: 1px solid white;
			color: white;
			text-transform: uppercase;
			cursor: pointer;
		}
	}
	.right-panels {
		.first {
			display: flex;
			align-items: center;
			height: 10em;
			width: 24.5em;
			background-color: #28282a;
			margin-top: 5em;
		}
	}
}

////////////////////////
// MOBILE
////////////////////////

@media (min-width: 576px) {
	.hamburger {
		display: none;
	}

	.nav-mobile {
		display: none;
	}
	.nav {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 50px;
		.nav-items {
			width: 80vw;
			height: 70px;
			border: 0.1rem solid white;
			display: flex;
			align-items: center;
			justify-content: space-around;
			h2 {
				color: white;
				text-transform: uppercase;
				span {
					color: #f9cf10;
				}
			}
			a {
				color: white;
				text-decoration: none;
				padding: 15px 10px;
			}
			button {
				background-color: transparent;
				color: white;
				border: 1px solid white;
				padding: 10px 20px;
				cursor: pointer;
			}
		}
	}
	.info {
		h4 {
			font-size: 1em;
		}
		.fa-solid {
			display: block;
		}
	}
	.panel {
		display: flex;
		.photo {
			img {
				width: 25em;
				margin: 1em;
			}
		}
	}
}

@media (min-width: 768px) {
	.panel {
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		.text {
			h3 {
				font-size: 30px;
			}
			p {
				font-size: 25px;
			}
		}
		.photo {
			img {
				padding: 10px;
				border: 1px solid black;
				width: 25em;
			}
		}
	}
}
